Source: ai2offline-qemu
Section: admin
Priority: optional
Maintainer: Juanma1980 <juanma1980@gmail.com>
Uploaders: LliureX Team
Build-Depends: debhelper (>= 12.0)
Standards-Version: 4.4.1
Homepage: https://github.com/lliurex/ai2offline-emulator

Package: ai2offline-qemu
Architecture: all
Depends: zero-lliurex-ai2offline, android-sdk, android-sdk-platform-tools
Description: Qemu Emulator for ai2offline
 Qemu emulator for ai2offline

